[submodule "frontend"]
	path = frontend
	url = https://github.com/ParadoxGameConverters/frontend
[submodule "common_items"]
	path = common_items
	url = https://github.com/ParadoxGameConverters/commonItems
[submodule "googletest"]
	path = googletest
	url = https://github.com/abseil/googletest
[submodule "bitmap"]
	path = bitmap
	url = https://github.com/ParadoxGameConverters/bitmap.git
