build/
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
changelog.txt
*.bz2
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
.vs/
packages/