version: dev.{build}
skip_tags: true
image: Visual Studio 2019
configuration: Release
build_script:
- cmd: >-
    git submodule update --init --recursive

    msbuild -m Vic2ToHoI4.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

test_script:
- ps: >-
    cd Vic2ToHoI4Tests\Release

    .\Vic2ToHoI4Tests.exe --gtest_output=xml:tests.xml

    (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\tests.xml))
artifacts:
- path: Release
  name: Vic2ToHoI4-0.3Oppenheimer
deploy:
- provider: GitHub
  release: 0.3Oppenheimer
  description: The Domestic Release
  auth_token:
    secure: LBJzs4y9j0N5y0ajp7gmVk3Pvnec1UU5pTCdIMbQYUddEXQnWTJ79FXsd9SCs7YQ
  repository: ParadoxGameConverters/Vic2ToHoI4
  artifact: Vic2ToHoI4-0.3Oppenheimer
  force_update: true
