name: "Publish commit id"

on:
  push:
    branches: [master]

jobs:
  publish_id:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'ParadoxGameConverters'
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Publish commit id
      uses: ParadoxGameConverters/publish_commit_id@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        destination_file: 'Vic2ToHoI4.txt'
        user_email: 'idhrendur@hotmail.com'
        user_name: 'idhrendur'
        destination_branch: 'main'
        commit_message: "Publish Vic2ToHoI4's commit id"
